.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    margin: 0;
  }

#admin-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:auto;
  }

.play-me {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}