body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://media2.giphy.com/media/326d5iOUoYY8N6uFPm/giphy.gif?cid=ecf05e475w9fnwolp8biaa28zu4t4wzkcrwf5mqir401jfde&ep=v1_gifs_search&rid=giphy.gif&ct=g");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    margin: 0;
  }

#admin-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:auto;
  }

.play-me {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
}

#back-to-reality-button {
    background-color: #f44336;
    border-radius: 8px;
    border: 2px solid #555555;
}