#sidebar {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;

}

.sidebar-header {
    font-size: xx-large;
    color: rgba(0, 0, 0, .85);
    text-decoration: none;
}

 .sidebar-header:hover {
    color: rgba(0, 0, 0, .85);
    background-color: #f4f2d2; 
}

.btn-toggle {
    color: initial;
    background-color: initial; 
  }

.btn-toggle:hover {
    color: rgba(0, 0, 0, .85) !important;
    background-color: #f4f2d2 !important;
}

.btn-toggle:focus {
   outline: none;
}

