<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    $CSS_LINKS
    $CDN_LINKS
    <title>$TAB_NAME</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
            <nav class="col-md-3" id="sidebar">
                <div class="flex shrink-0 p-3 bg-success-subtle" style="width: 280px;">
                    <a href="/" class="sidebar-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                        </svg>
                        <span class="fs-5 fw-semibold">Home</span>
                    </a>
                    <hr class="my-3">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <span class="icon-id"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week1-collapse" aria-expanded="true">
                                Week 1
                            </button>
                            <div class="collapse show" id="week1-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/nodeJS" class="link-dark rounded">NodeJS</a>
                                    </li>
                                    <li>
                                        <a href="/variables_datatypes" class="link-dark rounded">Variables & Data Types</a>
                                    </li>
                                    <li>
                                        <a href="/clean_code" class="link-dark rounded">Clean Code</a>
                                    </li>
                                    <li>
                                        <a href="/git_commands" class="link-dark rounded">Git Commands</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="icon-id"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week2-collapse" aria-expanded="true">Week 2</button>
                            <div class="collapse show" id="week2-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/restAPI_conventions" class="link-dark rounded">REST API Conventions</a>
                                    </li>
                                    <li>
                                        <a href="/functions" class="link-dark rounded">Functions</a>
                                    </li>
                                    <li>
                                        <a href="/package_json" class="link-dark rounded">Package.json</a>
                                    </li>
                                    <li>
                                        <a href="/express" class="link-dark rounded">Express</a>
                                    </li>
                                    <li>
                                        <a href="/node_modules" class="link-dark rounded">Node Modules</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="icon-id"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week3-collapse" aria-expanded="true">Week 3</button>
                            <div class="collapse show" id="week3-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/loops_js" class="link-dark rounded">JavaScript Loops</a>
                                    </li>
                                    <li>
                                        <a href="/CRUDable_RestAPI" class="link-dark rounded">CRUDable REST API</a>
                                    </li>
                                    <li>
                                        <a href="/url_anatomy" class="link-dark rounded">Anatomy of an URL</a>
                                    </li>
                                    <li>
                                        <a href="/serving_express" class="link-dark rounded">Serving HTML in Express</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="icon-id"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week4-collapse" aria-expanded="true">Week 4</button>
                            <div class="collapse show" id="week4-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/week4/dates_times/dates_times_JS.html" class="link-dark rounded">Dates & Times in JS</a>
                                    </li>
                                    <li>
                                        <a href="/week4/fetch_basics/fetch_basics.html" class="link-dark rounded">Fetch Basics</a>
                                    </li>
                                    <li>
                                        <a href="/week4/deployment/deployment.html" class="link-dark rounded">Deployment by Vercel</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="icon-id"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week5-collapse" aria-expanded="true">Week 5</button>
                            <div class="collapse show" id="week5-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/week5/import_export_modules/import_export_modules.html" class="link-dark rounded">Exporting vs. Importing in Frontend</a>
                                    </li>
                                    <li>
                                        <a href="/week5/commonJS_ESmodules/commonJS_ESmodules.html" class="link-dark rounded">CommonJS vs ES Modules</a>
                                    </li>
                                    <li>
                                        <a href="/week5/XSS/XSS.html" class="link-dark rounded">XSS (Cross-Site Scripting)</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="icon-id"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week6-collapse" aria-expanded="true">Week 6</button>
                            <div class="collapse show" id="week6-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/week6/fetch_client_server/fetch_client_server.html" class="link-dark rounded">Fetching in Client vs. Server</a>
                                    </li>
                                    <li>
                                        <a href="/week5/commonJS_ESmodules/commonJS_ESmodules.html" class="link-dark rounded">Redirection: Client Side vs. Server-Side</a>
                                    </li>
                                    <li>
                                        <a href="/week5/XSS/XSS.html" class="link-dark rounded">Structuring HTML with Semantic HTML</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <hr class="my-3">
                        <li class="mb-1">
                            <span class="icon-id"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">Account</button>
                            <div class="collapse show" id="account-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/login" class="link-dark rounded" id="sidebar-login-button">Login</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        <main class="col-md-9 p-5">
