<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    $CSS_LINKS
    $CDN_LINKS
    <title>$TAB_NAME</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
            <nav class="col-md-3" id="sidebar">
                <div class="flex shrink-0 p-3 bg-success-subtle" style="width: 280px;">
                    <a href="/" class="sidebar-header">
                        <span id="home-icon"></span>
                        <span class="fs-5 fw-semibold">Home</span>
                    </a>
                    <hr class="my-3">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <span class="arrow-icon"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week1-collapse" aria-expanded="false" id="week1-button">Week 1</button>
                            <div class="collapse" id="week1-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/nodeJS" class="link-dark rounded">NodeJS</a>
                                    </li>
                                    <li>
                                        <a href="/variables_datatypes" class="link-dark rounded">Variables & Data Types</a>
                                    </li>
                                    <li>
                                        <a href="/clean_code" class="link-dark rounded">Clean Code</a>
                                    </li>
                                    <li>
                                        <a href="/git_commands" class="link-dark rounded">Git Commands</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="arrow-icon"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week2-collapse" aria-expanded="false" id="week2-button">Week 2</button>
                            <div class="collapse" id="week2-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/restAPI_conventions" class="link-dark rounded">REST API Conventions</a>
                                    </li>
                                    <li>
                                        <a href="/functions" class="link-dark rounded">Functions</a>
                                    </li>
                                    <li>
                                        <a href="/package_json" class="link-dark rounded">Package.json</a>
                                    </li>
                                    <li>
                                        <a href="/express" class="link-dark rounded">Express</a>
                                    </li>
                                    <li>
                                        <a href="/node_modules" class="link-dark rounded">Node Modules</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="arrow-icon"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week3-collapse" aria-expanded="false" id="week3-button">Week 3</button>
                            <div class="collapse" id="week3-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/loops_js" class="link-dark rounded">JavaScript Loops</a>
                                    </li>
                                    <li>
                                        <a href="/CRUDable_RestAPI" class="link-dark rounded">CRUDable REST API</a>
                                    </li>
                                    <li>
                                        <a href="/url_anatomy" class="link-dark rounded">Anatomy of an URL</a>
                                    </li>
                                    <li>
                                        <a href="/serving_express" class="link-dark rounded">Serving HTML in Express</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="arrow-icon"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week4-collapse" aria-expanded="false" id="week4-button">Week 4</button>
                            <div class="collapse" id="week4-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/dates_times" class="link-dark rounded">Dates & Times in JS</a>
                                    </li>
                                    <li>
                                        <a href="/fetch_basics" class="link-dark rounded">Fetch Basics</a>
                                    </li>
                                    <li>
                                        <a href="/deployment" class="link-dark rounded">Deployment by Vercel</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="arrow-icon"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week5-collapse" aria-expanded="false" id="week5-button">Week 5</button>
                            <div class="collapse" id="week5-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/import_export_modules" class="link-dark rounded">Import & Export in Frontend</a>
                                    </li>
                                    <li>
                                        <a href="/commonJS_ESmodules" class="link-dark rounded">CommonJS vs ES Modules</a>
                                    </li>
                                    <li>
                                        <a href="/xss" class="link-dark rounded">XSS (Cross-Site Scripting)</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="arrow-icon"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week6-collapse" aria-expanded="false" id="week6-button">Week 6</button>
                            <div class="collapse" id="week6-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/fetch_client_server" class="link-dark rounded">Fetch: Client vs Server</a>
                                    </li>
                                    <li>
                                        <a href="/redirection" class="link-dark rounded">Redirection: Client vs Server</a>
                                    </li>
                                    <li>
                                        <a href="/structuring_html" class="link-dark rounded">Semantic HTML</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <span class="arrow-icon"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#week7-collapse" aria-expanded="false" id="week7-button">Week 7</button>
                            <div class="collapse" id="week7-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/client_server_rendering" class="link-dark rounded">Client & Server Rendering</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <hr class="my-3">
                        <li class="mb-1">
                            <span class="arrow-icon"></span>
                            <button class="btn btn-toggle align-items-center rounded collapse-button" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false" id="account-button">Account</button>
                            <div class="collapse" id="account-collapse">
                                <ul class="btn-toggle-nav list unstyled fw-normal pb-1 small">
                                    <li>
                                        <a href="/signup" class="link-dark rounded" id="sidebar-signup-button">Sign Up</a>
                                        
                                    </li>
                                    <li>
                                        <a href="/login" class="link-dark rounded" id="sidebar-login-button">Login</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        <main class="col-md-9 p-5">
