.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar-header {
    color: rgba(0, 0, 0, .85);
    text-decoration: none;
   
}

#sidebar {
    font-family:'Calibri';
    border-top: 4em;

}


